p {
    margin: 0;
}

#Products {
    display: flex;
}

#cate-left {
    display: flex;
    flex-direction: column;

    img {
        width: 10vw;
        padding: 0rem 1rem;
        padding-bottom: 0.5rem;
    }

    h4 {
        text-align: center;
        padding: 0.5rem 0;
        padding-bottom: 1rem;
        font-size: 2vw;
    }
}

#cate-right {
    width: 100%;
}

#card {
    padding: 1rem;
    border-radius: 10px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    p {
        margin-bottom: 0.5rem;
    }
}
#card-img {
    text-align: center;
    margin-bottom: 0.5rem;
    img {
        width: 120px;
    }
}
#card-btn {
    button {
        padding: 0.5rem 1rem;
        border: 0;
        border-radius: 5px;
        background-color: #000;
        color: #fff;
    }
}

@media (max-width: 450px) {
    #cate-left {
        img {
            width: 6rem;
            padding: 0.5rem;
        }
    }
}