#cart-Wraper {
    width: 100%;
    /* height: 100vh; */
    padding: 7vw 12vw;
    display: flex;
}

#cart-left {
    height: 100%;
    width: 50%;
}

#left-heading {
    margin-bottom: 2rem;
}

#cart-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid black;
    /* margin-right: 8rem; */
}

#cart-img {
    img {
        width: 5rem;
    }
}

#cart-des {
    display: flex;
    justify-content: space-between;
}

#card-info {
    display: flex;
}

#cart-qaun {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;

    input {
        width: 50px;
        border: 1px solid black;
        border-radius: 2px;
        padding: 0rem 0.5rem;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    button {
        padding: 0px 10px;
        border: 0;
        padding-bottom: 4.5px;
        font-weight: 700;
        border-radius: 5px;
    }
}

#cart-price {
    display: flex;
    align-items: center;
    margin-left: 1rem;

    p::before {
        content: "₹";
    }
}

#cart-remove {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-weight: 300;
    font-size: 1rem;
    cursor: pointer;
}

#cart-right {
    height: 100%;
    width: 50%;
    padding: 2.7rem;
}

#cart-right form input {
    padding: 0.7rem 1rem;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
    border-radius: 5px;
}

#cart-right .btn-apply {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #000;
    background-color: #fff;
    margin-bottom: 1rem;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-weight: 400;
}

.summary-row.subtotal {
    font-weight: 700;
}

.btn-checkout {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    border: 0;
}

@media (max-width: 450px) {
    #cart-Wraper {
        flex-direction: column;
        padding: 0;
    }

    #cart-card {
        margin-right: 0;
        justify-content: start;
    }

    #cart-left {
        width: 100%;
    }

    #cart-img {
        img {
            width: 5.5rem;
            margin-right: 0;
            margin-left: 1rem;
        }
    }

    #cart-info {
        margin-bottom: 0.5rem;
    }

    #cart-des {
        flex-direction: column;
        margin-left: 3rem;
    }

    #cart-qaun {
        justify-content: start;
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    #cart-price {
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    #cart-remove {
        margin-left: 0;
    }

    #cart-right {
        width: 100%;
    }
}

@media (max-width: 1026px) {
    #cart-Wraper {
        padding: 7vw 4vw;
    }
}

@media (max-width: 800px) {
    #cart-Wraper {
        padding: 7vw 1vw;
    }
}

@media (max-width: 775px) {
    #cart-Wraper {
        flex-direction: column;
        padding: 5vw 5vw;
    }

    #cart-left {
        width: 100%;
    }

    #cart-right {
        width: 100%;
    }
}