#add-to-cart-noti {
    position: fixed;
    top: 10px;
    right: -200%;
    background: #eee;
    color: #242424;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 9;
}

#add-to-cart-noti.show {
  right: 20px;
}

#cate-noti {
    padding: .5rem 1rem;
    background-color: #000;
    color: #ddd;
    text-align: center;
}

p {
    margin: 0;
}

#Products {
    display: flex;
}

#cate-left {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;

    img {
        width: 12vw;
        padding: 0rem 1rem;
        padding-bottom: 0.5rem;
    }

    h4 {
        text-align: center;
        padding: 0.5rem 0;
        padding-bottom: 1rem;
        font-size: 2vw;
    }
}

#cate-right {
    width: 100%;
    margin-top: .5rem;

    h5 {
        padding: 0.5rem 0;
        padding-bottom: 1rem;
        font-size: 2vw;
    }
}

#card {
    padding: 1rem;
    border-radius: 10px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;

    p {
        margin-bottom: 0.5rem;
    }
}

#card-img {
    text-align: center;
    margin-bottom: 0.5rem;

    img {
        width: 120px;
    }
}

#card-title {
    text-align: center;
    font-weight: 500;
}

#card-price {
    font-size: 1.2rem;
}

#card-price p::before {
    content: "₹";
}

#card-btn {
    button {
        padding: 0.5rem 1rem;
        border: 0;
        border-radius: 5px;
        background-color: #000;
        color: #fff;
    }
}

@media (max-width: 992px) {
    #cate-left {
        img {
            width: 21vw;
            padding: 0.5rem;
        }
    }
}

@media (max-width: 768px) {
    #cate-left {
        img {
            width: 21vw;
            padding: 0.5rem;
        }
    }
}

@media (max-width: 450px) {
    #cate-left {
        margin-top: 0;

        img {
            width: 27vw;
            padding: 0.5rem;
        }
    }
}


@media (max-width: 350px) {
    #cate-left {
        margin-top: 0;

        img {
            width: 30vw;
            padding: 0.5rem;
        }

        h4 {
            text-align: center;
            padding: 0;
            padding-bottom: 1rem;
            font-size: 5vw;
        }
    }

    #cate-right {
        h5 {
            padding: 0;
            padding-bottom: 1rem;
            font-size: 6vw;
        }
    }
}